<div class="block double-padded" id="s-generator-form">

    <h1>[`Products generator`]</h1>

    <p>
        [`Basic settings can be found in the `]<a href="?action=plugins#/generator/">[`generator plugin settings`]</a>.
    </p>

    <form action="?plugin=generator&module=run" id="s-plugin-generator" method="post">
        <div class="fields form">
            <div class="field">
                <div class="name">[`Prefix the name of the product`]</div>
                <div class="value">
                    <input class="long" type="text" name="config[prefix]" value="[`Product`]">
                </div>
            </div>
            <div class="field type">
                <div class="name">[`Type of products`]</div>
                <div class="value">
                    {html_options name='config[type_id]' options=array_column($product_types, 'name', 'id')}
                </div>
            </div>
            <div class="field">
                <div class="name">[`Number of products generated`]</div>
                <div class="value">
                    <input class="long" type="text" name="config[num]" value="1">
                </div>
            </div>
            <div class="field">
                <div class="name">[`Number of images for each product`]</div>
                <div class="value">
                    <input class="long" type="text" name="config[images_num]" value="1">
                </div>
            </div>
            <hr>
            {if $features && count($features) > 0}
                <div class="field">
                    <div class="name">[`Product features`]</div>
                    <div class="value">
                        <span>[`Enter random values assigned to some features of created goods. If the feature is a characteristic with multiple choice - just specify the number of assigned values.`]</span>
                    </div>
                    {foreach $features as $fid => $feature}
                        {if $feature.count}
                            <div class="value feature feature-type{implode(' feature-type', $feature_types[$fid])}">
                                <input type="checkbox" class="fcheck" onclick="$.importexport.plugins.generator.checkFeature(this, {$fid})"{if !$feature.count} disabled="disabled"{/if}>
                                <input class="fid{$fid} ftrs" name="config[features][{$fid}][name]" type="text" readonly="readonly" value="{$feature.name}" disabled="disabled">
                                {if $feature.multiple}
                                    <select name="config[features][{$fid}][count]" class="fid{$fid} ftrs" disabled="disabled">
                                        {$range = range(1, min($feature.count, 10))}
                                        {html_options output=$range values=$range}
                                    </select>
                                {else}
                                    <input type="hidden" name="config[features][{$fid}][count]" class="fid{$fid} ftrs" value="1" disabled="disabled">
                                {/if}
                                {if $feature.count == 1}
                                    <i class="icon16 exclamation"></i><span class="hint">[`Only one value in the feature`]</span>
                                {/if}
                                <input type="hidden" name="config[features][{$fid}][type]" class="fid{$fid} ftrs" value="{$feature.multiple}" disabled="disabled">
                                <input type="hidden" name="config[features][{$fid}][code]" class="fid{$fid} ftrs" value="{$feature.code}" disabled="disabled">
                            </div>
                        {/if}
                    {/foreach}
                </div>
            {/if}
            <hr>
            <!-- categories -->
            <div class="field">
                <div class="name">[`Category for generating products`]</div>
                <div class="value">
                    <input id="s-plugin-generator-cat"  class="long" type="text" readonly="readonly" value="[`Select a category`]">
                </div>
                <input id="s-plugin-generator-catid" type="hidden" name="config[category_id]" value="0">
                <input id="s-plugin-generator-ui" type="hidden" name="config[ui]" value="{$ui}">
            </div>

            <br>
            <div class="block drop-target" id="s-category-list-block">
                <div class="hierarchical s-collection-list" id="s-category-list">
                    {include './include.categories.html' categories=$categories inline}
                </div>
            </div>


            <div class="field-group" id="plugin-generator-submit">
                <div class="field">
                    <div class="value submit">
                        <button type="submit" class="button green">[`Start`]</button>
                        <br><br>
                        <div class="js-progressbar-container" style="display:none">
                            <div class="progressbar blue float-left" style="display:none;width:70%">
                                <div class="progressbar-outer">
                                    <div class="progressbar-inner" style="width:0"></div>
                                </div>
                            </div>
                            <img src="{$wa_url}wa-content/img/loading32.gif" alt="Loading" style="float:left;margin-top:8px">
                            <div class="clear"></div>
                            <span class="progressbar-description"></span>
                            <br style="clear:left"><br>
                            <span class="small italic">
                                [`Do not close the browser window and not leave the page as long as the process is completed`]
                            </span>
                        </div>
                        <br><br>
                        <em class="errormsg"></em>

                    </div>
                </div>
            </div>

            <div class="field-group" id="plugin-generator-report" style="display:none">
                <div class="field">
                    <div class="value"></div>
                </div>
            </div>

        </div>
    </form>

</div>
<script>
    $(function () {
        if ($.importexport.plugins.generator) {
            $.importexport.plugins.generator.ui = {$ui};
            $.importexport.plugins.generator.init();
        } else {
            $.getScript(
                '{$wa_app_static_url}plugins/generator/js/generator.min.js',
                function() {
                    $.importexport.plugins.generator.ui = {$ui};
                    $.importexport.plugins.generator.init();
                }
            );
        }
    });
</script>
