<div class="block double-padded" id="s-generator-form">

    <h1>[`Products generator`]</h1>

    <p>
        [`Basic settings can be found in the `]<a href="?action=plugins#/generator/">[`generator plugin settings`]</a>.
    </p>

    <form action="?plugin=generator&module=run" id="s-plugin-generator" method="post">
        <div class="fields form">
            <div class="field">
                <div class="name">[`Prefix the name of the product`]</div>
                <div class="value">
                    <input class="long" type="text" name="config[prefix]" value="[`Product`]">
                </div>
            </div>
            <div class="field">
                <div class="name">[`Type of products`]</div>
                <div class="value">
                    <select name="config[type_id]">
                        {foreach $product_types as $id=>$type}
                            <option value="{$id}">
                                {$type.name|escape}
                            </option>
                        {/foreach}
                    </select>
                </div>
            </div>
            <div class="field">
                <div class="name">[`Number of products generated`]</div>
                <div class="value">
                    <input class="long" type="text" name="config[num]" value="0">
                </div>
            </div>
            <div class="field">
                <div class="name">[`Number of images for each product`]</div>
                <div class="value">
                    <input class="long" type="text" name="config[images_num]" value="1">
                </div>
            </div>
			<hr>
			{if $features && count($features) > 0}
				<div class="field">
                	<div class="name">[`Product features`]</div>
	                <div class="value">
    	                <span>[`Enter random values assigned to some features of created goods. If the feature is a characteristic with multiple choice - just specify the number of assigned values.`]</span>
        	        </div>
                	{foreach $features as $feature}
                		{if $feature.count > 0}
	               			<div class="value">
    	           				<input type="checkbox" class="fcheck" onclick="$.importexport.plugins.generator.checkFeature(this, {$feature.id})" {if $feature.count==0}disabled="disabled"{/if}>
        	       				<input class="fid{$feature.id} ftrs" name="config[features][{$feature.id}][name]" type="text" readonly="readonly" value="{$feature.name}" disabled="disabled">
            	   				{if $feature.multiple == 1}
               						{if $feature.count/2 >10}
               							{$cmax = 10}
               						{else}
               							{$cmax = ceil($feature.count/2+1)}
               						{/if}
	               					<select name="config[features][{$feature.id}][count]" class="fid{$feature.id} ftrs" disabled="disabled">
    	           						{for $c=1; $c!=$cmax; $c++}
        	       							<option value="{$c}">{$c}</option>
            	   						{/for}
               						</select>
               					{else}
               						<input type="hidden" name="config[features][{$feature.id}][count]" class="fid{$feature.id} ftrs" value="1" disabled="disabled">
               					{/if}
	               				{if $feature.count==1}
    	           						<i class="icon16 exclamation"></i><span class="hint">[`Only one value in the feature`]</span>
        	       				{/if}
            	   				<input type="hidden" name="config[features][{$feature.id}][type]" class="fid{$feature.id} ftrs" value="{$feature.multiple}" disabled="disabled">
               					<input type="hidden" name="config[features][{$feature.id}][code]" class="fid{$feature.id} ftrs" value="{$feature.code}" disabled="disabled">
               				</div>
               			{/if}
                	{/foreach}
            	</div>
			{/if}
			<hr>
            <!-- categories -->
            <div class="field">
                <div class="name">[`Category for generating products`]</div>
                <div class="value">
                    <input id="s-plugin-generator-cat"  class="long" type="text" readonly="readonly" value="[`Select a category`]">
                </div>
                <input id="s-plugin-generator-catid" type="hidden" name="config[category_id]" value="0">
            </div>
            
            <br>
            <div class="block drop-target" id="s-category-list-block">
                <div class="hierarchical s-collection-list" id="s-category-list">
                    {include './include.categories.html' categories=$categories->getList() inline}
                </div>
            </div>


            <div class="field-group" id="plugin-generator-submit">
                <div class="field">
                    <div class="value submit">
                        <button type="submit" class="button green">[`Start`]</button>
                        <br><br>
                        <div class="js-progressbar-container" style="display:none">
                            <div class="progressbar blue float-left" style="display:none;width:70%">
                                <div class="progressbar-outer">
                                    <div class="progressbar-inner" style="width:0"></div>
                                </div>
                            </div>
                            <img src="{$wa_url}wa-content/img/loading32.gif" alt="Loading" style="float:left;margin-top:8px">
                            <div class="clear"></div>
                            <span class="progressbar-description"></span>
                            <br style="clear:left"><br>
                            <span class="small italic">
                                [`Do not close the browser window and not leave the page as long as the process is completed`]
                            </span>
                        </div>
                        <br><br>
                        <em class="errormsg"></em>

                    </div>
                </div>
            </div>

            <div class="field-group" id="plugin-generator-report" style="display: none">
                <div class="field">
                    <div class="value"></div>
                </div>
            </div>

        </div>
    </form>

</div>
<script type="text/javascript">
    if($.importexport.plugins.generator) {
        $.importexport.plugins.generator.init();
    }
    else {
        $.getScript('{$wa_app_static_url}plugins/generator/js/generator.js', function(){ $.importexport.plugins.generator.init() });
    }
</script>
